{%  extends 'holspot/header.html' %}

{% load static %}
{% block mystyles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/starability-basic.css' %}"/>

{% endblock mystyles %}


{% block content %}

	<h1 class="text-center" style="margin-top: 7rem;">{{user|capfirst}}'s PROFILE</h1>

	<h3 class="text-center">Your reviews</h3>
	{% if comments %}
		{% for comment in comments%}
		<div class="list-group mb-5 container">
           <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
              <p class="starability-result" data-rating="{{comment.rating}}">
                 Rated: 3 stars
              </p>
             <small class="text-muted">{{comment.currentdate}}</small>
          </div>
			<p>{{comment}}</p>

		</a>
	</div>
		{% endfor %}
	{% else %}
		<p>You havent reviewed any location</p>
	{% endif %}



{% endblock %}